<div class="col-4 mx-auto m-2">
    <div class="card text-center">
        <div class="card-header bg-info text-white">Login</div>
        <div class="card-body">
            <div class="form-group row m-2">
                <label for="textusername" class="col-lg-4">UserName</label>
                <div class="col-lg-8">
                    <input id="textusername" type="text" class="form-control" name="username"
                        placeholder="Enter UserName" />
                </div>
            </div>

            <div class="form-group row m-2">
                <label id="textpassword" class="col-lg-4">Password</label>
                <div class="col-lg-8">
                    <input id="textpassword" type="password" class="form-control" name="password"
                        placeholder="Enter Password" />
                </div>
            </div>

           
        </div>
        <div class="card-footer text-body-secondary"> <a href="#" class="btn btn-primary"> Login</a></div>
    </div>
</div>